@use "core" as *;
@use "bs-core" as *;

.c-onboarding {
    width: 100%;
    height: 100%;
    padding: 1.5rem 1.5rem 2rem;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    background: #f7f7f7;

    &--active {
        display: flex;
    }

    &__top {
        z-index: 100;
        display: flex;
        justify-content: flex-start;
        margin-top: 1rem;
    }

    &__back {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #e9effd4c;
            border-radius: 50%;
        }
    }

    &__chevron {
        font-size: 1.5rem;
    }

    &__illustration {
        top: -5rem;
        left: -2.15rem;
        position: relative;
        width: 25rem;
        height: 24.5rem;
        background: $color-background;
        border-radius: 0 0 8rem 8rem;
        overflow: hidden;
        display: flex;

        justify-content: center;
        align-items: center;

        lottie-player {
            width: 24rem;
            height: 90%;
        }
    }

    &__dots {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: -3rem;
        margin-bottom: 2rem;
    }

    &__dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 999px;
        background: #ddd;

        &--active {
            width: 1.5rem;
            background: $color-primary;
        }
    }

    &__content {
        text-align: center;
        margin-bottom: 2.5rem;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__title {
        font-size: $font-size-title;
        font-weight: $font-weight-title;
        color: $color-text;
    }

    &__text {
        font-size: $font-size-text;
        color: $color-muted;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__button {
        border-radius: 999px;
        padding: 0.75rem 1rem;
        font-size: $font-size-text;
        font-weight: $font-weight-title;
        border: none;
        cursor: pointer;

        &--primary {
            background: $color-primary;
            color: #fff;
        }

        &--secondary {
            background: transparent;
            color: $color-primary;
        }
    }

    &__lottie {
        width: 24rem;
        height: 100%;
    }
}