@use "core" as *;
@use "bs-core" as *;

.c-end {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: $color-background;

    &--active {
        display: flex;
    }

    &__blob-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__blob {
        position: absolute;
        inset: 50%;
        transform: translate(-50%, -50%) scale(1);
        transform-origin: center;
        transition: transform 0.8s ease;
        width: 30rem;
        height: 100%;
    }

    &__blob--zoomed {
        transform: translate(-50%, -50%) scale(4);
    }

    &__logo {
        position: absolute;
        inset: 40% 50% auto 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        height: 3.5rem;
        width: 100%;
    }

    &__text {
        position: absolute;
        inset: 51% 15% 55% 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s ease;
        z-index: 2;
    }

    &__text--visible {
        opacity: 1;
    }
}