@use "core" as *;
@use "bs-core" as *;

.c-phone {
    position: relative;
    padding: 1rem;
    border-radius: 3rem;
    background: linear-gradient(145deg, #444, #000);
    box-shadow: 0 1.25rem 3.75rem rgba(0, 0, 0, 0.6);

    &__inner {
        width: 24.375rem;
        height: 52.75rem;
        border-radius: 2.5rem;
        background: #000;
        padding: 0.5rem;
    }

    &__app {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        background: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}