$color-bg-card: #f3f0ff;
$color-primary: #5a1b92;
$color-background: #C1CDFF;
$color-text: #111;
$color-muted: #555;

$font: "acumin-pro", sans-serif;

$font-size-title: 2.25rem;
$font-size-text: 1.1rem;

$font-weight-title: 500;
$font-weight-text: 300;
